@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    background-color:#fdfdfd;
    color: #fff;
    width: 100vw;
    height: 8.5vh;
    border: 0px 2px 12px solid black;
}
img{
    display: flex;
    padding: 11px;
}
nav>p{
    font-size: 1.0rem;
    display: flex;
}
nav .container{
    display: flex;
}


.contact{
    position: absolute;
    left: 80%;
    top: 2.5%;
    display: flex;
    border: 1px solid #EBD3F8;
    box-sizing: border-box;
    border-radius: 5px;
    height: 32px;
}
.login{
    position: absolute;
    left: 88%;
    top: 2.5%;
    display: flex;
    box-sizing: border-box;
    border: 1.5px solid #5e1b81;
    border-radius: 5px;
    height: 32px;
    width: 77px;
    padding: 3px 15px;
    transition: 0.4s;
}
.login a{
    text-decoration: none;
    color: #5e1b81;
    font-size: 17px;
    font-family: 'poppins';
}
.login:hover{
    background-color: #5e1b81; 
    box-shadow: 0px 2px 20px solid #000000;
    box-sizing: 2px;
}
.login>a:hover{
    color: white;
    text-shadow: 0px 2px 10px #2E073F;
}
.contact>p{
    margin: 0;
    font-size: 19px;
}
.login>p{
    margin: 0;
    font-size: 19px;
}
.location{
    position: absolute;
    left: 81%;
    top: 2.5%;
    display: flex;
    box-sizing: border-box;
    border: 1.5px solid #5e1b81;
    border-radius: 5px;
    height: 32px;
    width: 86px;
    padding: 3px 1px;
    transition: 0.4s;
}

.location a{
    text-decoration: none;
    color: #5e1b81;
    font-size: 17px;
    font-family: 'poppins';
}
.location:hover{
    background-color: #5e1b81; 
    box-shadow: 0px 2px 20px solid #000000;
    box-sizing: 2px;
}
.location>a:hover{
    color: white;
    text-shadow: 0px 2px 10px #2E073F;
}
.login >img{
    display: flex;
    padding: 1px;
}
  
.icon2 img {
    width: 30%;
    height: 20%;
    object-fit: contain; 
  }

.sub-nav{
    background-color: #360c4d;
    color: #fff;
    width: 100vw;
    height: 7vh;
    border: 1px solid #c096d7;
    box-shadow: 0px 3px 10px #EBD3F8;
    display: flex;
}
.sub-nav ul{
    display: flex;
    margin: 18px 400px;
}
.sub-nav ul li{
    margin: 0px 20px;
    list-style: none;
}
.sub-nav ul li a{
    color: white;
    display: flex;
    font-size: 1.2rem;
    position: relative;
    text-decoration: none;
    margin: 0px 13px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.sub-nav ul li a:hover{
    transition: 0.2s;
    cursor: pointer;
    color:#C7FFD8;
    list-style:georgian;
}
.search{
    position: absolute;
    left: 60%;
    display: flex;
    top: 9.5%;
}
.search input{
    width: 270px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
}
.search>img{
    position: absolute;
    top: -5%;
    left: 83%;
}
.home{
    width: 100vw;
    height: 25vh;
    display: flex;
    background-attachment: fixed;
}
.home>img{
    width: 100%;
    height: 290%;
    object-fit: cover;
        position: sticky;
        margin: 50px 0px;
        padding: 0px 0px;
}
.center {
    position: absolute;
    left: 32%;
    top: 39%;
    display: flex;
    color:rgb(255, 255, 255);
    font-size: 42px;
    font-family: 'poppins';
  }
  
  .searchh{
    position: absolute;
    top: 48%;
    left: 30%;
  }

  .searchh>input{
    width: 630px;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px black;
  }
 .content{
    width: 100%;
    height: 550px;
    background-image: url(https://images.pexels.com/photos/17023023/pexels-photo-17023023/free-photo-of-beautifully-decorated-tables-in-a-luxury-dinner-hall.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 420px;
    width: 100%;
    font-size: 40px;
    color: white;
 }
  section{
    position: absolute;
    top: 70%;
    width: 100%;
  }

  section>h2{
    color: Black;
    font-family: 'poppins';
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 41.5%;
    top: 104%;
  }
  section>h3{
    color: rgb(96, 90, 90);
    font-family: 'poppins';
    font-size: 38px;
    text-align: center;
    position: absolute;
    left: 38%;
    top: 110.5%;
  }
.place{
    width: 100%;
    height: 13%;
    position: absolute;
    top: 116%;
}
.place .divv{
    display: flex;
    position: absolute;
    top: 1%;
    left: 8%;
    color: rgb(0, 0, 0);
    width: 25%;
    height: 100%;
}
.place .div{
    display: flex;
    position: absolute;
    top: 1%;
    left: 70%;
    color: rgb(0, 0, 0);
    width: 25%;
    height: 100%;
}
.div > h2{
    font-size: 40px;
    display: flex;
    position: absolute;
    top: 30%;
}
.divv>h2{
    font-size: 40px;
    display: flex;
    position: absolute;
    top: 30%;
}
.divv>img{
    position: absolute;
    left: 33%;
    width: 100px;
}
.div>img{
    position: absolute;
    left: 60%;
    width: 100px;
}
.place .divv>img{
    display: flex;
}
.place .div>img{
    display: flex;
}
  main p{
    position: absolute;
    top: 108%;
    left: 14%;
    font-size: 30px;
  }
.box{
    display: flex;
    background-color: #2E073F;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 130%;
    align-items: center;
    justify-content: space-evenly;
}
.cards{
    display: flex;
    background-color: #3d1d4b;
    width: 20%;
    height: 65%;
    border: 2px solid rgb(204, 126, 204);
    border-radius: 10px 10px 10px 10px;
    justify-content: space-evenly;
    align-items: center;
    transition: all ease 0.3s;
}
.cards:hover{
    border: 2px solid rgb(204, 126, 204);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 8px white;
    animation: forwards;
}
.cardd-content{
    position: absolute;
    width: 19%;
    height: 35%;
}
.cardd-content>h3{
    color: #ffffff;
    position: absolute;
    top: 61%;
    left: 38%;
    font-size: 20px;
    letter-spacing: 1px;
}
.cardd-content>p{
    color: #ffffff;
    position: absolute;
    top: 80%;
    font-size: 24px;
    text-align: center;
    left: 2.6%;
}
.cards img{
    width: 15%;
    height: 32%;
    border-radius: 50%;
    position: absolute;
    top: 18%;
}
.dabba{
	width: 100vw;
    margin: auto;
    position: absolute;
    top:2000%;
    background-color:#2E073F;
    color: white;
}
.row{
	display: flex;
	flex-wrap: wrap;
    margin: 29px 0px;
}
ul{
	list-style: none;
}
.hero{
    width: 90%;
    height: 85%;
    background-image: url(https://images.pexels.com/photos/787961/pexels-photo-787961.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 347%;
    left: 3.7%;
}
.Top{
    position: absolute;
    top: -24%;
    font-size: 56px;
    color: #000000;
font-family: 'poppins';
}
.Sub-top{
    position: absolute;
    top: -11.5%;
    font-size: 40px;
    color: #24262b;
    font-family: 'poppins';
}
.direction{
    display: flex;
    border: 4px solid purple;
    background-color: #2E073F;
   opacity: 0.5;
width: 90%;
height: 92%;
border-radius: 5px 5px 5px 5px;
}
.left-div{
    display: grid;
    position: absolute;
    left: 12%;
    top: 23%;
    justify-content: center;
    width: 40%;
    height: 55%;
   }
.left-div>img{
    border: 3px solid white;
    border-radius: 50%;
    width: 85%;
    height: 92%;
    object-fit: cover;

}
.right-div{
    display: grid;
    position: absolute;
    left: 56%;
    top: 27%;
    justify-content: center;
    width: 36%;
}
.right-div>p{
    font-size: 29px;
}
footer{
    background-color: #111010;
    position: absolute;
    top: 445%;
    width: 100%;
}
.f-item-con{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}
footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.app-name .app-initial{
    color: var(--theme-col);
}
footer .app-info p{
    color: white;
    padding-left: 1.65rem;
}
footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size:16px;/* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li{ 
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}
footer ul li:hover{
    color: white;
}
footer .help-sec{
    grid-column-start: 2;
}
footer .cr-con{
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}
.g-i-t{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.g-i-t form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
    padding: .20rem .10rem;
    font-size: 19px;
}
.g-inp textarea{
    height: px;
}
.f-btn{
    padding: .25rem 1rem;
    background-color: green;
    border-radius: .25rem;
    font-size: 18px;
    color: white;
    font-weight:100;
}
.f-btn:hover{
    background-color: #19531b;
    cursor: pointer;

}